@model IEnumerable<CarrosMvc.Models.CarroFlex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPortas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cilindrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroChassi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMotor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoProducao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPortas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cilindrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroChassi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoProducao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
