@model CarrosMvc.Models.CarroEletrico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarroEletrico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoBateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoBateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroChassi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroChassi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroMotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroMotor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoProducao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
